
<div class="navbar  is-transparent">
    <div class="navbar-brand">
        <a class="navbar-item navbar-start" routerLink="/about">
        <img src="assets\images\icons\PF-004.png" width="" height=""  alt="Quotes-Me app" style="display: grid"/> Quotes-Me
        </a>
        <a *ngIf="this.mobile" class="navbar-item" (click)=ShowMobSearch()><i class="fas fa-search"></i>	
        </a>


        <!-- This "nav-menu" is hidden on mobile -->
        <!-- Add the modifier "[ngClass]="{'is-active':show }" to display it on mobile -->
        <div class="navbar-menu">
            <div class="navbar-start">
                <div  class="navbar-item has-dropdown is-hoverable">
                
                    <a id="navAuth" class="navbar-item navbar-start">
                        <nav-profile></nav-profile>
                    </a>
              
                    <div class="navbar-dropdown is-boxed">
                        <a class="fab fa-delicious navbar-item" routerLink="/feed" (click)="toggleCollapse()">
                        &nbsp; Feed
                        </a>
                        <a class="fas fa-user navbar-item" routerLink="/userprofile1" (click)="toggleCollapse()">
                        &nbsp; Profile
                        </a>
                        <a class="fas fa-quote-right navbar-item" routerLink="/myquotes" (click)="toggleCollapse()">
                        &nbsp; My-Quotes
                        </a>
                        <a class="fas fa-binoculars navbar-item " routerLink="/following" (click)="toggleCollapse()">
                        &nbsp; Following 
                        </a>
                        <a class="fas fa-users navbar-item " routerLink="/friends2" (click)="toggleCollapse()">
                        &nbsp; Friends 
                        </a>                        
                        <a class="fas fa-windows navbar-item " routerLink="/addon" (click)="toggleCollapse()">
                        &nbsp; AddOn 
                        </a>
                   
                        <div id="authenticatedNav" *ngIf="auth.user | async as user;else other_content ">
                            <a class="fas fa-sign-out navbar-item" routerLink="/" (click)="logout()" style="color:red">
                                &nbsp; Log-out
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

                     <a id="navAuth2" class="navAuth2 navbar-item navbar-start">
                        <nav-friend-requests></nav-friend-requests>
                    </a>


 

         <!--mini Profile toggle button-->
        <div id="miniPButton" class="miniPButton" *ngIf="auth.user | async as user" style="display: none">
            <div id="authenticatedNav" *ngIf="auth.user | async as user">
                <a *ngIf="this.mobile" id="navAuth" class="navbar-item miniPButton" (click)="clear('miniPwarp');clear('miniPButton')">
                    <img class="card-img-top" [src]="user.photoURL" >
                </a>
            </div>
            <a  *ngIf="!this.mobile" id="miniPButton" class="navbar-item miniPButton" (click)="clear('miniPwarp');clear('miniPButton')" title="Open mini profile">
                <i class="fas fa-user"></i>
            </a>
        </div>
     
         <!--navbar-burger-->
        <div class="navbar-burger burger is-boxed" (click)="toggleCollapse()" [ngClass]="{'is-active': show}"     >
            <span></span>
            <span></span>
            <span></span>
        </div>

</div>




<form id='search1' class="navbar-item has-dropdown is-hoverable" *ngIf="!this.mobile">    
 <!--Search-Start-->
 <span  class="navbar-item has-dropdown is-hoverable">
    <input id='inputSearch' class="input is-info searchBoxInput" placeholder="Search User" type="text"  (keydown)="search($event)" autocomplete="off"  >
    <span id="tt" class="navbar-dropdown is-boxed">                          
        <span  *ngFor="let user of users; let i = index; " (click)="resetForm('search1')">  
            <a class="navbar-item searchBoxRes"  routerLink="/users/{{user.uid}}"  >
                <p>{{user.displayName}}</p>
            </a>
        </span>
         <span  *ngFor="let note of notes; let j = index;" (click)="resetForm('search1')">  
            <a class="navbar-item searchBoxRes" routerLink="/users/{{user.uid}}" >
                <p>{{note.content}}{{note.id}}</p>
            </a>
        </span>

    </span>
</span>
<!--Search-End-->
</form>

 <!--mobile-Search-Start-->


<form id='searchBoxMobile' class="navbar-item has-dropdown" *ngIf="this.mobile" style="display:none" >    
<div class="field">
  <div class="control box is-grouped">
    <input id='inputSearch' class="input is-info inputSearch"
     placeholder="Serch User" type="text"  (keydown)="search($event)" autocomplete="off" >
     <a *ngIf="this.mobile" (click)=ShowMobSearch()>&nbsp;&nbsp;<i class="fas fa fa-close"></i>&nbsp;&nbsp;</a>
    <span  *ngFor="let user of users; let i = index;" style="display : block; " (click)="resetForm('searchBoxMobile')">  
           <span *ngIf="i<5">    
                <a class="navbar-item searchBoxRes"  routerLink="/users/{{user.uid}}"  >
                    {{user.displayName}}
                </a>
            </span>
    </span>
  </div>
</div>

</form>

<!--Search-End-->

       


<div id="navbarExampleTransparentExample" class="navbar-menu navbar-end" [ngClass]="{'is-active':show }">
    <div class="navbar-item">
        <!--<div class="field is-grouped">-->
        <!--<p class="control">
            <a class="far fa-users navbar-item " routerLink="/friends_requests" (click)="toggleCollapse()">
                &nbsp; Friend Req
            </a>
        </p>-->



        <!--<span *ngIf="!this.mobile &&!this.small">-->
            <p class="control">
                <a *ngIf="!this.small" class="fas fa-home navbar-item" routerLink="/about" (click)="toggleCollapse()" title="Home">
                    &nbsp;Home
                    </a>
                <a *ngIf="this.small" class="fas fa-home navbar-item" routerLink="/about" (click)="toggleCollapse()" title="Home">
                </a>
            </p>
          <p class="control">
                <a *ngIf="!this.small" class="fas fa-home navbar-item" routerLink="/addon" (click)="toggleCollapse()" title="windows add-on">
                    &nbsp;Addon
                    </a>
                <a *ngIf="this.small" class="fas fa-windows navbar-item" routerLink="/addon" (click)="toggleCollapse()" title="windows add-on">
                </a>
            </p>
            <p class="control">
                <a *ngIf="!this.small" class="far fa-binoculars navbar-item " routerLink="/following" (click)="toggleCollapse()"  title="Following">
                    &nbsp; Following
                </a>
                <a *ngIf="this.small" class="far fa-binoculars navbar-item " routerLink="/following" (click)="toggleCollapse()"  title="Following">
                    &nbsp; 
                </a>
            </p>
            <p class="control">
                <a *ngIf="!this.small"class="far fa-users navbar-item " routerLink="/friends2" (click)="toggleCollapse()"  title="Friends">
                    &nbsp; Friends
                </a>
                <a *ngIf="this.small"class="far fa-users navbar-item " routerLink="/friends2" (click)="toggleCollapse()"  title="Friends">
                    &nbsp; 
                </a>
            </p>
            <p class="control">
                <a *ngIf="!this.small" class="fas fa-quote-right navbar-item" routerLink="/myquotes" (click)="toggleCollapse()"  title="My-Quotes">
                &nbsp; My-Quotes
                </a>                
                <a *ngIf="this.small" class="fas fa-quote-right navbar-item" routerLink="/myquotes" (click)="toggleCollapse()"  title="My-Quotes">
                &nbsp;
                </a>
            </p>
            <p class="control">
                <a *ngIf="!this.small" class="fas fa-user navbar-item" routerLink="/userprofile1" (click)="toggleCollapse()" title="Profile">
                &nbsp; Profile
                </a>
                <a *ngIf="this.small" class="fas fa-user navbar-item" routerLink="/userprofile1" (click)="toggleCollapse()" title="Profile">
                &nbsp;
                </a>
            </p>
     
            <p class="control">
                <a *ngIf="!this.small" class="fas fa-newspaperfas fa-delicious navbar-item" routerLink="/feed" (click)="toggleCollapse()"  title="Feed">
                &nbsp; Feed
                </a>
                <a *ngIf="this.small" class="fas fa-newspaperfas fa-delicious navbar-item" routerLink="/feed" (click)="toggleCollapse()"  title="Feed">
                &nbsp;
                </a>
            </p>	
        <!--</span>-->

        <!--</div>-->
    </div>



</div>
</div>
<nav></nav>


<ng-template #other_content>
    <a class="fas fa-sign-in navbar-item" routerLink="/login" (click)="toggleCollapse()">
        &nbsp;Log-in
    </a>
 </ng-template>




