<nav class="nav">
  <div class="nav-left">
    <a class="nav-item logo" routerLink="/">
      <img src="assets\images\icons\PF-004.png" width="" height=""  alt="Quotes-Me app"/> Quotes-Me
    </a>
  </div>

   

  <!-- This "nav-menu" is hidden on mobile -->
  <!-- Add the modifier "is-active" to display it on mobile -->
  <div class="nav-right nav-left nav-menu is-active" [ngClass]="{'is-active':show }">
    <a class="nav-item" routerLink="/login" (click)="toggleCollapse()">
      Login
    </a>
    <a class="nav-item" routerLink="/notesP" (click)="toggleCollapse()">
      My-Quotes
     </a>
    <a class="nav-item" routerLink="/notes1" (click)="toggleCollapse()">
      Feed
    </a>
    <a class="nav-item" routerLink="/userprofile1" (click)="toggleCollapse()">
      Profile
    </a>
    <!--<a class="nav-item" routerLink="/items" (click)="toggleCollapse()">
      To-Do List
     </a>-->
      <!--<a class="nav-item" routerLink="/users" (click)="toggleCollapse()">
      Users-list
     </a>-->
     <a class="nav-item" routerLink="/friends" (click)="toggleCollapse()">
      friends-list
     </a>
    <a class="nav-item" routerLink="/notes" (click)="toggleCollapse()">
    anonymous-Quotes
    </a>

      <!--<a class="nav-item" routerLink="/feed">
      Feed(Test)
     </a>-->
         <!--<a class="nav-item" routerLink="/users">
      Users
     </a>-->
    <!--<a class="nav-item" routerLink="/uploads">
      File Uploads
    </a>-->
  </div>



    <!-- This "nav-toggle" hamburger menu is only visible on mobile -->
  <!-- You need JavaScript to toggle the "is-active" class on "nav-menu" -->
  <span class="nav-left nav-toggle" (click)="toggleCollapse()" [ngClass]="{'is-active': show}">
    <span></span>
    <span></span>
    <span></span>
  </span>


</nav>
