  <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" crossorigin="anonymous">-->

<div class="navbar  is-transparent">
    <div class="navbar-brand">
        <a class="navbar-item navbar-start" routerLink="/">&nbsp;	&nbsp;	
        <img src="assets\images\icons\PF-004.png" width="" height=""  alt="Quotes-Me app" style="display: grid"/> Quotes-Me
        </a>
        <div class="navbar-burger burger is-boxed" (click)="toggleCollapse()" [ngClass]="{'is-active': show}"     >
        <span></span>
        <span></span>
        <span></span>
    </div>
</div>
<!-- This "nav-menu" is hidden on mobile -->
<!-- Add the modifier "[ngClass]="{'is-active':show }" to display it on mobile -->
<div class="navbar-menu">
    <div class="navbar-start">
        <div  class="navbar-item has-dropdown is-hoverable">
            
            <a id="navAuth" class="navbar-item navbar-start">
                <nav-profile></nav-profile>
            </a>
            <div class="navbar-dropdown is-boxed">
                <a class="fas fa-user navbar-item" routerLink="/userprofile1" (click)="toggleCollapse()">
                &nbsp; Profile
                </a>
                <a class="fas fa-quote-right navbar-item" routerLink="/myquotes" (click)="toggleCollapse()">
                &nbsp; My-Quotes
                </a>
                <a class="fas fa-users navbar-item " routerLink="/friends" (click)="toggleCollapse()">
                &nbsp; friends-list 
                </a>
                <a class="fab fa-delicious navbar-item" routerLink="/feed" (click)="toggleCollapse()">
                &nbsp; Feed
                </a>
                <div id="authenticatedNav" *ngIf="auth.user | async as user;else other_content ">
                    <a class="fas fa-sign-out navbar-item" routerLink="/" (click)="logout()" style="color:red">
                        &nbsp; Log-out
                    </a>
                </div>

            </div>
        </div>
    </div>
</div>
<div id="navbarExampleTransparentExample" class="navbar-menu navbar-end" [ngClass]="{'is-active':show }">
    <div class="navbar-item">
        <!--<div class="field is-grouped">-->
        <p class="control">
            <a class="fas fa-user navbar-item" routerLink="/userprofile1" (click)="toggleCollapse()">
            &nbsp; Profile
            </a>
        </p>
        <p class="control">
            <a class="fas fa-quote-right navbar-item" routerLink="/myquotes" (click)="toggleCollapse()">
            &nbsp; My-Quotes
            </a>
        </p>
        <p class="control">
            <a class="far fa-users navbar-item " routerLink="/friends" (click)="toggleCollapse()">
            &nbsp; Friends-List
            </a>
        </p>
        <p class="control">
            <a class="fas fa-newspaperfas fa-delicious navbar-item" routerLink="/feed" (click)="toggleCollapse()">
            &nbsp; Feed
            </a>
        </p>
        <p class="control">
            <a class="fas fa-home navbar-item" routerLink="/" (click)="toggleCollapse()">
            &nbsp; Home
            </a>
            <!--<a class="nav-item" routerLink="/items" (click)="toggleCollapse()">
                To-Do List
                </a>-->
            <!--<a class="nav-item" routerLink="/users" (click)="toggleCollapse()">
                Users-list
                </a>-->
            <!--<a class="nav-item" routerLink="/notes" (click)="toggleCollapse()">
                anonymous-Quotes
                </a>-->
            <!--<a class="navbar-item" routerLink="/login" (click)="toggleCollapse()">
                Login
                </a>-->
        </p>&nbsp;	&nbsp;	&nbsp;	
        <!--</div>-->
    </div>
</div>
</div>
<nav></nav>


<ng-template #other_content>
    <a class="fas fa-sign-in navbar-item" routerLink="/login" (click)="toggleCollapse()">
        &nbsp;Log-in
    </a>
 </ng-template>