<div>
  <div class="picbox">

  <!--<a onClick="history.go(0)" VALUE="Refresh">-->
  <img class="card-img-top" [src]="note.authorPhotoURL" width=50px>
  <p style="font-weight:bolder;display:-webkit-inline-flex;">{{ note.authorName }}</p>
  <!--</a>-->
  <p style="display:block;">{{ note.time | date: 'medium' }}</p>
  </div>
  
  <h4 style="font-weight:bold;">{{ note.content }}</h4>
  <span class="button is-small is-info" (click)='addHeartToNote(note.hearts)'>
    Heart  <i class="fa fa-heart"> {{ note.hearts || 0 }}</i> 
  </span>
  <!--<span class="button is-small is-danger" (click)='deleteNote(note?.id)'>Delete</span>-->
  <!--<p>This note has been hearted {{ note.hearts || 0 }} times.</p>-->
    <!--<p>id : {{ note.id  }}</p>-->
</div>
