<!--/*user- list UserDetailComponent
 * responsible for the details and characteristics of each user waiting for approval to be displayed.
 * -confirm friend request
 * -delete friend request
 * -send friend Requests
 * -remove friend
 * -follow
 * -unFollow
 * -...
 * */-->
<div>
    <div class="box">
        <h3> {{ user.displayName }}</h3>
        <img class="card-img-top ,box" [src]="user.photoURL" width="70">
        <p class="text-truncate">UID: {{ user.uid }}</p>
        <div *ngIf="(user.email!=null);else unknownMail">         <p class="text-truncate">EMail: {{ user.email }}</p>     </div>     <ng-template #unknownMail>               <p class="text-truncate">EMail: Unknown</p>      </ng-template>
        <p class="text-truncate">Description: {{ user.discription }}</p>
        
<span *ngIf="user.uid!=this.currentUserUid">
  <!--<span>-->
   <!--<li class="friend" *ngIf="friend?.fid?.length; else notFriend"></li>-->
            <div  *ngIf="( followList2.indexOf(user.uid) > -1 ); else notFriend">
              <!--<h3>IS a FRIEND!!!!</h3>-->
                <button id="unfollowB" class="button is-small is-danger" (click)="unFollow(user.uid);" >UnFollow</button>
            </div> 

            <ng-template #notFriend>
              <button id="followB" class="button is-small is-success" (click)="followUser(user.uid)">Follow</button>
            </ng-template>
            <button id="followT" class="button is-small is-success" (click)="followUser(user.uid)" style="display: none">Follow</button>




            <!--//ADD FIREND-->
            <div  *ngIf="( frindsList2.indexOf(user.uid) > -1 ); else notFriendR"> <!--IS a FRIEND!!!!-->
                <button title="Request Sent: Awaiting Confirmation" id="unFriendB" class="button is-small is-danger" (click)="unFriend(user.uid);" >Cancel Request</button>
            </div> 

            <ng-template #notFriendR>
              <div  *ngIf="( frindsReqList.indexOf(user.uid) > -1 );else notFriendR2">
                <button title="Request Sent: Awaiting Confirmation" id="ConfirmReq" class="button is-small is-info" (click)="confirmRequest(user.uid);" >Confirm Request</button>
              </div>         
            </ng-template>
            
            
            <button id="addFriendH" class="button is-small is-success" (click)="addFriend(user.uid)" style="display: none">Add Friend</button>
                             <button title="Remove This Friend" id="RemoveFriendH" class="button is-small is-danger" (click)="removeFriend(user.uid);" style="display: none" >Remove Friend</button>
                <!--<div  *ngIf="( ConfirmedFrindsList.indexOf(user.uid) > -1 );">
                    <button title="Request Sent: Awaiting Confirmation" id="ConfirmReq" class="button is-small is-info" (click)="confirmRequest(user.uid);unFriend(user.uid);" >confirm0000edFrinds</button>
                </div>  -->
            <ng-template #notFriendR2>
              
                <div  *ngIf="( ConfirmedFrindsList.indexOf(user.uid) > -1 );else notFriendR3">
                    <button title="Remove This Friend" id="RemoveFriend" class="button is-small is-danger" (click)="removeFriend(user.uid);" >Remove Friend</button>
                </div>            
             </ng-template>

              <ng-template #notFriendR3>
              
              <button id="addFriendB" class="button is-small is-success" (click)="addFriend(user.uid)">Add Friend</button>
            </ng-template>
      </span>
    </div>
</div>
