<div>

    <div class="box">
    <h3> {{ user.displayName }}</h3>
    <img class="card-img-top ,box" [src]="user.photoURL" width="70">
    <p class="text-truncate">UID: {{ user.uid }}</p>
    <p class="text-truncate">EMail: {{ user.email }}</p>
    <p class="text-truncate">Discription: {{ user.discription }}</p>
    </div>




<!--<div class="button">
  <span class="button is-small is-danger" (click)='updateEmail(newEmail);'>Add Email </span>
<p><textarea cols="90" rows="1"  [(ngModel)] = "newEmail" placeholder=" add here your new dicription..."></textarea></p>
</div>-->


<!--<div class="button">
  <span class="button is-small is-danger" (click)='updateDicription(value);'>Add Discription </span>
<p><textarea cols="90" rows="1"  [(ngModel)] = "value" placeholder=" add here your new dicription..."></textarea></p>
</div>-->

</div>
