
<div class="box">
    <div  class="box">
        <h1>&nbsp;</h1>
        <h1>Welcome to Quote-Me App</h1>
        <p>a Social network for sharing quotes</p>
        <h1>&nbsp;</h1>
    </div>
</div>




<div class="box2">
    <div  class="box2">
        <h1>&nbsp;</h1>
        <h5><b><em>The developed system is an application that will be a small social network for sharing quotes.<br /></em></b></h5>
        <h5><b><em>The system will allow each user to upload and share quotations with other users according to his preferences,
             and to define certain times or events in which he will be presented with a quote that suits him according to his personal preferences.<br /></em></b></h5>
           <h5><b><em> A user will be able to search for users and quotes from other users repositories,
                add other users to following list or send a friend request to other users.<br /></em></b></h5>
           <h5><b><em> Tracking other users will help to get to know their character through their quotes.<br /></em></b></h5>
            <h5><b><em>and many more fichers...</em></b></h5>
        <h1>&nbsp;</h1>
    </div>
</div>