i {
  margin-left: 5px; 
}

.button {
  border-radius: 0;
  margin: 10px 5px;
  text-transform: uppercase;
  font-weight: bolder;
}

.picbox{
  // display:-webkit-inline-box;
  // border-radius: 15;
  // margin: 10px 5px;
  // text-transform: uppercase;
  // font-weight: bold;
    border-radius: 50;

}

.card-img-top{
  border-radius: 35%;
}

.boxS {
    background-color: #00FFFF;
    width: 100px;
    height: 100px;
    overflow: scroll;
}
 
.show-large {
  display: none;
}
@media only screen and (min-width: 1019px) {
  .show-large {
    display: block;
  }
  .show-mobile {
    display: none;
  }
}