i {
  margin-left: 5px; 
}

.button {
  border-radius: 0;
  margin: 10px 5px;
  text-transform: uppercase;
  font-weight: bolder;
}

.picbox{
  // display:-webkit-inline-box;
  // border-radius: 15;
  // margin: 10px 5px;
  // text-transform: uppercase;
  // font-weight: bold;
    border-radius: 50;

}

.card-img-top{
  border-radius: 35%;
}