<!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css">-->



<div class="box">
    <div *ngIf="auth.user | async; then authenticated else guest">
        <!-- template will replace this div -->
    </div>
</div>

<!-- User NOT logged in -->
<ng-template #guest class="box">
    <h3> GUEST</h3>
    <p class="card-text">Login to get started...</p>
    <button class="button" routerLink="/login">Login</button>
</ng-template>

<!-- User logged in -->
<ng-template #authenticated>
    <div *ngIf="auth.user | async as user">
        <div class="box">
            <h3> {{ user.displayName }}</h3>
            <div class="picbox">
                <div class="itemsContainer" >
                    <a href="#">
                        <img id="picProf" class="picProf" [src]="user.photoURL" width="250" height="250">
                    </a>
                    <a routerLink="/uploads" title="Change profile picture">
                        <div class="play" ><img src="../../assets/images/icons/camera.png" width="110" /> </div>
                    </a>
                </div>
            </div>
            <div>
                <button class="button is-danger is-small" (click)="logout()" title='LogOut'>Logout</button>
            </div>
        </div>
        <div class="box">
            <p class="text-truncate">EMail: {{ user.email }}</p>
            <div class="field is-grouped">
                <p class="text-truncate">Description: {{ user.discription }}</p>
                <span id="edit" class="button is-small far fa-edit"(click)='editDescriptionToggler();' title='add/edit your description'>&#160;</span>
            </div>



            <div id="addDescription" class="field is-grouped" style="display: none">
                <p><textarea id="textarea" class="textarea is-small is-success" cols="20" rows="1" [(ngModel)]="dicription" placeholder="add your description"></textarea></p>
                <span class="button is-small is-primary far fa-check-circle" (click)='updateDicription(user.uid,dicription);editDescriptionToggler();' title='add your dicription'></span>&#160;

            </div>
            <p class="text-truncate">Quotes:<a routerLink="/myquotes" title="open your quote collection"> My-Quotes</a></p>

        </div>
    </div>

    <div class="box">
        <div class="level-right">
            <button id='closeBList' class="level-item delete button is-small is-danger" (click)="clear()" title="Close Notification-Menu" style="display: none"></button>
        </div>

        <div id="title">
            <button id='openBList' class="button is-small is-warning" (click)="clear()" title="Open Notification-Menu">Open Notification Setings</button>


        </div>
        <div id="list" style="display: none">
            <h1 style='margin-top:-1em' class="title is-4 " id='list'>&#160;&#160;&#160;Notification Setings:</h1>

            <div class="field">
                <div class="control">
                    <div class="select is-primary">
                        <select ngModel="selectedDays" (ngModelChange)="onChange($event,'D')" id="selectedDays" name="selectedDays">
                  <option value="selectedDays" hidden disabled >-day-</option> 
    <option [value]="i" *ngFor="let i of days">{{i}}</option>
      </select>
                    </div>
                    <div class="select is-primary">
                        <select id="hoursSelect" (ngModelChange)="onChange($event,'H')" name="hoursSelect" ngModel="hoursSelect">
            <option value="hoursSelect" hidden disabled>-hour-</option>
    <option [value]="i" *ngFor="let i of hours">{{i}}:00</option>
      </select>
                    </div>
                    <button class="button is-bold is-primary" (click)="addToList()">Add to list</button>
                </div>
            </div>

            <div *ngIf="auth.user | async as user">
                <div *ngFor="let i of user.Notilist"> 
                    
                    
                    <div *ngIf="i[0] !='E' ; else EveryDay">
                         Every {{i}}
                        <button class="button   is-danger is-rounded fa fa-times is-small" (click)="DelFromList(i)" title="Delete this date">Delete</button>
                    </div>
                    <ng-template #EveryDay class="box">
                        {{i}}
                            <button class="button   is-danger is-rounded fa fa-times is-small" (click)="DelFromList(i)" title="Delete this date">Delete</button>
                    </ng-template>


                  
                </div>
            </div>
        </div>
    </div>





</ng-template>