
<div class="box" >
  <div *ngIf="auth.user | async; then authenticated else guest">
          <!-- template will replace this div -->
  </div>
</div>

<!-- User NOT logged in -->
<ng-template #guest class="box">
  <h3>Hello, GUEST</h3>
  <p class="card-text">Login to get started...</p>
  <button class="button" routerLink="/login">Login</button>
</ng-template>

<!-- User logged in -->
<ng-template #authenticated>
      <div class="level-right"  >
    <button id='closeB' class="delete button is-small is-danger level-item" (click)="clear()"></button>
    </div>
    <button id='openB' class="button is-small is-warning" (click)="clear()" style="display: none">Open Mini Profile</button>
    <div id="authenticated" *ngIf="auth.user | async as user">
      <a routerLink="/userprofile1" title="open profile page">
        <h3 class="title is-5 is-bold">Hello, {{ user.displayName }}</h3>
        <img class="card-img-top" [src]="user.photoURL" width=50px>
      </a>
      <p class="text-truncate">email: {{ user.email }}</p>
      <p class="text-truncate">Quotes:<a routerLink="/myquotes" title="open your quote collection"> My-Quotes</a></p>

      <button class="button is-small is-danger " (click)="logout()">Logout</button>
    </div>
</ng-template>
