
<div  id="miniPwarp">
  <div *ngIf="auth.user | async; then authenticated else guest">
          <!-- template will replace this div -->
  </div>
</div>

<!-- User NOT logged in -->
<ng-template #guest class="">
    <div class="box">

  <h3>Hello, GUEST</h3>
  <p class="card-text">Login or Signin to get started...</p>
      <button  class="button  is-small is-outlined is-success" routerLink="/login1/log">Login</button>
      <button class="button  is-small is-outlined is-primary" routerLink="/signin/sign">Signin</button>
    </div>
</ng-template>

<!-- User logged in -->
<ng-template #authenticated>
  <div class="box">
      <div class="level-right"  >
        <button id='closeB' class="delete button is-small is-danger level-item" (click)="clear('miniPwarp');clear('miniPButton')"></button>
      </div>
      <!--<button id='openB' class="button is-small is-warning" (click)="clear()" style="display: none">Open Mini Profile</button>-->
      <div id="authenticated" *ngIf="auth.user | async as user">
        <a routerLink="/userprofile1" title="open profile page">
          <h3 class="title is-5 is-bold">Hello, {{ user.displayName }}</h3>
          <img class="card-img-top" [src]="user.photoURL" width=50px>
        </a>
        <div *ngIf="(user.email!=null);else unknownMail">         <p class="text-truncate">EMail: {{ user.email }}</p>     </div>     <ng-template #unknownMail>               <p class="text-truncate">EMail: Unknown</p>      </ng-template>
        <p class="text-truncate">Quotes:<a routerLink="/myquotes" title="open your quote collection"> My-Quotes</a></p>

        <button class="button is-small is-danger   " (click)="logout();">Logout</button>
      </div>
    </div>
</ng-template>
