i {
  margin-left: 5px; 
}

.button {
  border-radius: 80;
  margin: 10px 5px;
  text-transform: uppercase;
  font-weight: bold;
}

h4{
    border-radius: 80;
  margin: 10px 5px;
  text-transform: uppercase;
  font-weight: bold;
  color: cornflowerblue;
}