<!--<p class= "is-size-4 has-text-centered">Quote-Me Feed</p>-->

<div class='box'>
  <textarea rows="2" [(ngModel)]="content" placeholder="Add new quote" class="textarea is-small is-success  "></textarea>
  <button class="button is-success" (click)="createNote()" [disabled]="content?.length < 2 || content?.length > 200">
    Add Quote
  </button>
</div>

<div  *ngFor="let notes of noteslist2 ">
    <div  class="box" *ngFor="let note of (notes | async)">
        <note-detail [note]="note"><hr></note-detail><br> 
    </div>
</div>
<br>








