<!-- FollowingListComponent - Manage the following user list.-->
  <div *ngFor="let friend of friends | async">   
      <div  *ngFor="let user of users | async">
          <div  *ngIf="(user.uid == friend.fid)">
              <user-detail class="box" [user]="user"><hr></user-detail>   
          </div> 
    </div> 
  </div>
  <div  *ngIf="empty">   
       
    <hr>    <h2 class="center">your following list is empty <img class="center" src="../../../assets/images/empty.png" width="45px"></h2>

    <hr>
  </div>






 