<!--<h1>Quote-Me app | Users list |</h1>-->
<!--<p>The Feed show will now the 3 latest Quotes...</p>-->
<!--{{empty1}}{{empty2}}-->
  <div *ngFor="let friend of friends | async">   
      <div  *ngFor="let user of users | async">
          <div  *ngIf="(user.uid == friend.fid)">
              <user-detail class="box" [user]="user"><hr></user-detail>   
          </div> 
    </div> 
  </div>


  <div *ngFor="let friend of confirmedFriends | async">   
      <div  *ngFor="let user of users | async">
          <div  *ngIf="(user.uid == friend.fid)">
              <user-detail-2 class="box" [user]="user"><hr></user-detail-2>   
          </div> 
    </div> 
  </div>

<div  *ngIf="empty1 && empty2">
    <hr>
    <h2 class="center">your friend list is empty <img class="center" src="../../../assets/images/empty.png" width="45px"></h2>
    <hr>
</div>


 <!--confirmedFriends-->